body{
    background-color: #9b8675d8;
    background: url(../Images/background.jpg);
}
.Heading{
  
    font-family: fonts;
    src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
    font-size: 100px;
    margin-left: 80vh;
    position: absolute;
    margin-top: 30px;
    margin-bottom: 20px;
    color: aliceblue;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow:  rgba(246, 242, 242, 0.93);
    transition: 0.3s;
    margin-top: 200px;
margin-left: 20px;
margin-right: 20px;
    width: 50%;
    

  }
  
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 20px rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container2 {
    padding: 2px 10px;
    background-color: aliceblue;
    margin-bottom: 50px;
    
  }
  .column{
    display: flex;
    align-items: center;


  }
  .row{
    display: flex;
    align-items: center;
  }
  .Bheading{
    background-color: rgba(19, 31, 71, 0.855);
    margin-left: 70px;
  margin-right: 50px;
  margin-top: 100px;
  font-family: Fonts;
  src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: aliceblue;

  }
  .writing{
    background-color: rgba(19, 31, 71, 0.855);
    padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: aliceblue;
  }
  .Bimages{
    height: 80%;
  width: 100%;
  border-style: double;
  }
  .references{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    
  }
  .next{
    background-color: #DC3220;
    color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 20px;
  
  }
  .Prev{
    background-color: #DC3220;
    color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 20px;
  }
  .pcard{
    font-size: 20px;
    text-align: center;
    color: black;
  }
  .design{
    width: 40%;
    margin-left: 100px;
  }
  .link{
    color: #DC3220;
  }
  #myBtn {
    
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  @media screen and (max-width: 600px){
    .Heading{
      font-family: fonts;
      src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
      font-size: 80px;
      margin-left: 100px;
      margin-top: 50px;
      margin-bottom: 20px;
      color: aliceblue;
      border: none;
  }
  .Bheading{
    margin-left: 30px;
  margin-right: 50px;
  margin-top: 100px;
  font-family: Fonts;
  src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: aliceblue;


  }
  .writing{
    padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-indent: 40px;
  letter-spacing: 2px;
  color: aliceblue;

  }
  @media screen and (max-width: 600px) {
    .column{
      display: inline;
      align-items: center;
    
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow:  rgba(246, 242, 242, 0.93);
    transition: 0.3s;
    margin-top: 150px;
margin-left: 20px;
    margin-right: 20px;
    width: 90%;
}
.container2 {
  padding: 2px 16px;
  background-color: aliceblue;
  margin-bottom: 20px;
}
  }
}