body{
    background-color: #9b8675d8;
}
.Heading{
    font-family: fonts;
    src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
    font-size: 100px;
    margin-left: 70vh;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 20px;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow:  rgba(246, 242, 242, 0.93);
    transition: 0.3s;
    margin-top: 150px;
    margin-left: 50px;
    width: 50%;
    

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 20px rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container2 {
    padding: 2px 16px;
    background-color: aliceblue;
    margin-right: 50%;
    margin-bottom: 20px;
    
  }
  .column{
    display: flex;
    align-items: center;


  }
  .Bheading{
    margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  font-family: Fonts;
  src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  }
  .writing{
    padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-indent: 40px;
  letter-spacing: 2px;
  }
  .Bimages{
    height: 100%;
  width: 100%;
  border-style: double;
  }
  .references{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 50px;
    
  }
  .next{
    background-color: rgb(97, 67, 30);
    color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  float: right;
  margin-right: 20px;
  border-radius: 20px;
  }
  .Prev{
    background-color: rgb(97, 67, 30);
    color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  float: left;
  margin-left: 20px;
  border-radius: 20px;
  }
  .pcard{
    font-size: 20px;
    text-align: center;
    color: black;
  }