.Heading
{
    
        font-family: fonts;
        src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
        font-size: 100px;
        margin-left: 70vh;
        position: absolute;
        margin-top: 20px;
        margin-bottom: 100px;
        padding-bottom: 100px;
        color: aliceblue;
}
body{
        background: url(../Images/background.jpg);
}
.graphs{
        padding-left: 20%;
        padding-right: 20%;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        text-indent: 40px;
        letter-spacing: 2px;
        color: aliceblue;
        margin-top: 150px;     
}
