.Heading
{
    
        font-family: fonts;
        src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
        font-size: 100px;
        margin-left: 50vh;
        position: absolute;
        margin-top: 20px;
        margin-bottom: 110px;
        padding-bottom: 110px;
        color: aliceblue;
}
body{
        background: url(../Images/background.jpg);
}
.graphs{
margin-right: 50px;
        margin-left: 100px;
        margin-bottom: 10px;
        margin-top: 80px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        letter-spacing: 2px;
        color: aliceblue; 
        background: rgba(19, 31, 71, 0.855);
        padding-top: 20px; 
        padding-bottom: 20px;
        padding-left: 30px;
}
@media screen and (max-width: 600px) {
        .Heading
{
    
        font-family: fonts;
        src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
        font-size: 50px;
        margin-left: 70px;
        position: absolute;
        margin-top: 50px;
        margin-bottom: 100px;
        color: aliceblue;
}
.next{
        background-color: #DC3220;
        color: white;
      text-decoration: none;
      font-size: 10px;
      padding: 20px;

      margin-top: 100px;
      margin-right: 20px;
      border-radius: 10px;
      }
}