div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

p {
font-size: 14px;
color:#fff;

}        

body{
position: relative;
background-color: rgba(0, 0, 0, 0.492);
overflow: visible;
margin-right: 200px;

}        

#chart{
overflow: visible;
margin-left: 10px;
}

.center {
position: absolute;
top:300px;
left: 20%;
transform: translateX(-50%);
}

.svg {
position: relative;
top:50%;
margin-left: 100px;
}        


.buttonGroup {
display: flex;
justify-content: center;


}  

.buttonGroup button{
width:120px;
height:30px;
border-radius: 5px;
border: none;
color: #fff;
font-size: 16px;
cursor: pointer;   
outline: none;     
transition: transform .5s;
}   

.buttonGroup button:active{
transform: scale(1.2);
}  

.unselected {
background-color: rgb(77, 60, 224);

}

.selected{
background-color: rgb(12, 189, 50);
}

.buttonGroup button:nth-child(2){
margin:0 10px;
}
.buttonGroup button:nth-child(3){
margin-right:10px;
}

.tooltip {
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.484);
color: #fff;
min-width: 120px;

}
.graphsss{
    
            margin-left: 150px;
            margin-top: 40px;
            display: flex;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-indent: 20px;
            color: aliceblue; 
            background: rgba(19, 31, 71, 0.855);
        
            padding-bottom: 20px;
            padding-left: 10px;
    }
    