body{
    background-color: #9b8675d8;
}
.Heading{
    font-family: fonts;
    src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
    font-size: 100px;
    margin-left: 70vh;
    position: absolute;
    margin-top: 10px;

}
.homepic{
    width: 50%;
    height: 70%;
    margin-left: 10vh;
    margin-top: 70px;
    margin-bottom: 200px;
}
.container{
    position: relative;
    margin-top: 80px;
    align-items: center;

}
.circle {
    height: 150px;
    width: 150px;
    background-color: rgb(80, 60, 31);
    border-radius: 60%;
    position: absolute;
    margin-left: 50%;
    margin-top: -35vh;
    
}
.context{
    text-align: justify;
    margin-right: 100px;
    margin-left: 60%;
margin-top: -80vh;
margin-bottom: 80vh;
font-size: 25px;

}