body {
    margin: 0px;
    
  }
  
  .sphere {
    fill: #4242e4;


  }
  
  .country {
    stroke: black;
    stroke-width: 0.05px;
  }
  
  .country:hover {
    fill: red;
  }
  
  .tick text {
    font-size: 0.5em;
    fill: black;
    font-family: sans-serif;
  }
  
  .tick circle {
    stroke: rgb(202, 161, 161);
    stroke-opacity: 0.5;
  }
  .outter{
    margin-top: 100px;
    margin-left: 300px;



  }
  .Heading
{
    
        font-family: fonts;
        src: url(../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
        font-size: 100px;
        margin-left: 50vh;
        position: absolute;
        margin-top: 20px;
        margin-bottom: 110px;
        padding-bottom: 110px;
        color: aliceblue;
}
.graphsss{
  margin-right: 50px;
          margin-left: 50px;
          margin-top: -40px;
          display: flex;
          font-family: 'Times New Roman', Times, serif;
          font-size: 20px;
          text-indent: 20px;
          color: aliceblue; 
          background: rgba(19, 31, 71, 0.855);
      
          padding-bottom: 20px;
          padding-left: 10px;
  }
  